.roadrunner {
    .column {
        // Gridchooser
        .gridchooser-wrapper{
            margin: 0 -24px;
            padding: 0 24px;
            border-bottom: 1px solid #e6e6e6;

            .gridchooser{
                &.error {
                    border: solid 1px red;
                }
                position: relative;
                padding: 10px 0;
                z-index: 3;
                &:not(.open){
                    .gridchoices-wrapper .gridchoice.collapse {
                        display: none;
                        &.show {
                            display: flex;
                        }
                    }
                }
                .toggler{
                    width: 22px;
                    height: 22px;
                    background: white;
                    border: 1px solid #e6e6e6;
                    cursor: pointer;
                    position: absolute;
                    bottom: -11px;
                    left: 50%;
                    transform: translateX(-50%);
                    svg{
                        fill: #bcbbbb;
                        &:hover {
                            fill: var(--color-primary);
                        }
                    }
                }
                .gridchoices-wrapper {
                    .collapse {
                      &:not(.show) {
                        display: none;
                      }
                    }

                    .collapsing {
                      height: 0;
                      overflow: hidden;
                      transition: .2s ease-in-out;
                    }
                    
                    .gridchoice {
                        display: flex;
                        margin-bottom: 10px;

                        .svg-wrapper{
                            width: 60px;

                            svg{
                                display: block;
                                color: var(--color-primary);
                                margin: 0 auto;
                                height: 30px;
                                &.icon-tv{width: 30px;}
                                &.icon-tablet{width: 20px;}
                                &.icon-mobile{width: 13px;}
                            }
                        }
                        .gridplaceholder{
                            width: 100%;
                            height: 30px;
                            display: flex;

                            .gridsegment {
                                border: solid 1px var(--color-primary);
                                background-color: white;
                                width: 8.33333333%;
                                max-width: 30px;
                                min-width: 10px;
                                height: 30px;
                                display: block;
                                cursor: pointer;
                                position: relative;
                                &:not(:last-child){
                                    border-right: 0px;
                                }
                                &.fallback {
                                    background: #e3eeee;
                                }
                                &.active {
                                    background-color: var(--color-primary);
                                    &:not(:first-child):before{
                                        content: "";
                                        position: absolute;
                                        top: -1px;
                                        left: 0;
                                        width: 1px;
                                        height: calc(100% + 2px);
                                        background: white;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}