// this is needed to make nested modals possible.
body.modal-open {
    .modal{
        background: rgba(0,0,0,.55);
        backdrop-filter: blur(4px);
    }
    .modal-backdrop{
        display: none;
    }
}

// use all the space possible
#page-edit-form .w-field__wrapper,
#page-edit-form .w-field-row,
#page-edit-form .w-form-width,
#page-edit-form .fields,
#page-edit-form .w-panel__wrapper {
    max-width: unset !important;
}
