.roadrunner {
    .column {
        // Wrappes inside of column
        & > div{
            max-width: 100%;
        }
        &.col1,&col2 {
            .c-sf-block{
                .c-sf-block__header{
                    // hiding useless icon and heading
                    & > svg, & > h3{
                        display: none;
                    }
                    .c-sf-block__type {
                        display: none;
                    }
                }
            }
            
        }
        .c-sf-block{
            .c-sf-block__header{
                justify-content: space-between;
                padding-left: 8px;
                .c-sf-block__actions{
                    flex-wrap: wrap;
                }
                .c-sf-block__header__title {
                    flex-shrink: 3;
                }
            }
            .roadrunnerblock {
                section {
                    padding-top: 0;
                }
                > .field {
                    padding-top: 0;
                    >  label {
                        display: none;
                    }
                }
            }
        }
        .c-sf-add-button{
            height: auto;
            transition: .2s ease opacity;
            &:not(:hover){
                opacity: .5;
                filter: grayscale(1);
            }
            i{
                line-height: 28px;
                height: 25px;
                font-size: 24px;
            }
        }
    }
}