
.roadrunner.row {
    display: flex;
    flex-flow: row wrap;
    width: 100%;

    .column {
        &.col1, &.col2, &.col3, &.col4, &.col5, &.col6, &.col7, &.col8, &.col9, &.col10, &.col11, &.col12 {
            padding: 7px;
        }

        display: flex;
        &> div {
            flex-grow: 1;
            &> div {
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-between;
                height: 100%;
                &> div {
                    flex-grow: 1;
                }
                
                .c-sf-block {
                    margin: 0;
                    .c-sf-block__content{
                        position: relative;
                        .c-sf-block__content-inner{
                            overflow: hidden;                            
                        }
                    }
                    .c-sf-block__actions__single > .icon {
                        &.icon-arrow-up {
                            transform: rotate(277deg);
                        }
                        &.icon-arrow-down {
                            transform: rotate(277deg);
                        }
                    }
                }
            }
        }
    }
    .corner-tab-control {
        position: absolute;
        top: 0;
        right: 0;
        min-height: 50px;
        transition: background .3s ease-in-out;
        background: 
           linear-gradient(to top right,#0000 50%, #fbfbfb 50.1%) top right/50px 50px no-repeat,
           transparent;
           a.nav-link {
               color: #585858;
               text-align: right;
               display: block;
               width: 50px;
               height: 50px;
               padding: 3px;
           }
    }
    .c-sf-block:focus, .c-sf-block:hover {
        .corner-tab-control {
            background: 
               linear-gradient(to top right,#0000 50%, #f5f5f5 50.1%) top right/50px 50px no-repeat,
               transparent;
        }
    }
}