/* XS */
.rr_editor.xs .xs-1,
.rr_editor.sm .xs-1,
.rr_editor.md .xs-1,
.rr_editor.lg .xs-1 {
    width: calc(8.333333% - 10px);
}
.rr_editor.xs .xs-2,
.rr_editor.sm .xs-2,
.rr_editor.md .xs-2,
.rr_editor.lg .xs-2 {
    width: calc(16.666667% - 10px);
}
.rr_editor.xs .xs-3,
.rr_editor.sm .xs-3,
.rr_editor.md .xs-3,
.rr_editor.lg .xs-3 {
    width: calc(25% - 10px);
}
.rr_editor.xs .xs-4,
.rr_editor.sm .xs-4,
.rr_editor.md .xs-4,
.rr_editor.lg .xs-4 {
    width: calc(33.333333% - 10px);
}
.rr_editor.xs .xs-5,
.rr_editor.sm .xs-5,
.rr_editor.md .xs-5,
.rr_editor.lg .xs-5 {
    width: calc(41.666667% - 10px);
}
.rr_editor.xs .xs-6,
.rr_editor.sm .xs-6,
.rr_editor.md .xs-6,
.rr_editor.lg .xs-6 {
    width: calc(50% - 10px);
}
.rr_editor.xs .xs-7,
.rr_editor.sm .xs-7,
.rr_editor.md .xs-7,
.rr_editor.lg .xs-7 {
    width: calc(58.333333% - 10px);
}
.rr_editor.xs .xs-8,
.rr_editor.sm .xs-8,
.rr_editor.md .xs-8,
.rr_editor.lg .xs-8 {
    width: calc(66.666667% - 10px);
}
.rr_editor.xs .xs-9,
.rr_editor.sm .xs-9,
.rr_editor.md .xs-9,
.rr_editor.lg .xs-9 {
    width: calc(75% - 10px);
}
.rr_editor.xs .xs-10,
.rr_editor.sm .xs-10,
.rr_editor.md .xs-10,
.rr_editor.lg .xs-10 {
    width: calc(83.333333% - 10px);
}
.rr_editor.xs .xs-11,
.rr_editor.sm .xs-11,
.rr_editor.md .xs-11,
.rr_editor.lg .xs-11 {
    width: calc(91.666667% - 10px);
}
.rr_editor.xs .xs-12,
.rr_editor.sm .xs-12,
.rr_editor.md .xs-12,
.rr_editor.lg .xs-12 {
    width: calc(100% - 10px);
}
.rr_editor.xs .xs-offset-1,
.rr_editor.sm .xs-offset-1,
.rr_editor.md .xs-offset-1,
.rr_editor.lg .xs-offset-1 {
    margin-left: calc(8.333333% + 4px) !important;
}
.rr_editor.xs .xs-offset-2,
.rr_editor.sm .xs-offset-2,
.rr_editor.md .xs-offset-2,
.rr_editor.lg .xs-offset-2 {
    margin-left: calc(16.666667% + 4px) !important;
}
.rr_editor.xs .xs-offset-3,
.rr_editor.sm .xs-offset-3,
.rr_editor.md .xs-offset-3,
.rr_editor.lg .xs-offset-3 {
    margin-left: calc(25% + 4px) !important;
}
.rr_editor.xs .xs-offset-4,
.rr_editor.sm .xs-offset-4,
.rr_editor.md .xs-offset-4,
.rr_editor.lg .xs-offset-4 {
    margin-left: calc(33.333333% + 4px) !important;
}
.rr_editor.xs .xs-offset-5,
.rr_editor.sm .xs-offset-5,
.rr_editor.md .xs-offset-5,
.rr_editor.lg .xs-offset-5 {
    margin-left: calc(41.666667% + 4px) !important;
}
.rr_editor.xs .xs-offset-6,
.rr_editor.sm .xs-offset-6,
.rr_editor.md .xs-offset-6,
.rr_editor.lg .xs-offset-6 {
    margin-left: calc(50% + 4px) !important;
}
.rr_editor.xs .xs-offset-7,
.rr_editor.sm .xs-offset-7,
.rr_editor.md .xs-offset-7,
.rr_editor.lg .xs-offset-7 {
    margin-left: calc(58.333333% + 4px) !important;
}
.rr_editor.xs .xs-offset-8,
.rr_editor.sm .xs-offset-8,
.rr_editor.md .xs-offset-8,
.rr_editor.lg .xs-offset-8 {
    margin-left: calc(66.666667% + 4px) !important;
}
.rr_editor.xs .xs-offset-9,
.rr_editor.sm .xs-offset-9,
.rr_editor.md .xs-offset-9,
.rr_editor.lg .xs-offset-9 {
    margin-left: calc(75% + 4px) !important;
}
.rr_editor.xs .xs-offset-10,
.rr_editor.sm .xs-offset-10,
.rr_editor.md .xs-offset-10,
.rr_editor.lg .xs-offset-10 {
    margin-left: calc(83.333333% + 4px) !important;
}
.rr_editor.xs .xs-offset-11,
.rr_editor.sm .xs-offset-11,
.rr_editor.md .xs-offset-11,
.rr_editor.lg .xs-offset-11 {
    margin-left: calc(91.666667% + 4px) !important;
}
.rr_editor.xs .xs-offset-12,
.rr_editor.sm .xs-offset-12,
.rr_editor.md .xs-offset-12,
.rr_editor.lg .xs-offset-12 {
    margin-left: calc(100% + 4px) !important;
}
/* END XS */

/* SM */
.rr_editor.sm .sm-1,
.rr_editor.md .sm-1,
.rr_editor.lg .sm-1 {
    width: calc(8.333333% - 10px);
}
.rr_editor.sm .sm-2,
.rr_editor.md .sm-2,
.rr_editor.lg .sm-2 {
    width: calc(16.666667% - 10px);
}
.rr_editor.sm .sm-3,
.rr_editor.md .sm-3,
.rr_editor.lg .sm-3 {
    width: calc(25% - 10px);
}
.rr_editor.sm .sm-4,
.rr_editor.md .sm-4,
.rr_editor.lg .sm-4 {
    width: calc(33.333333% - 10px);
}
.rr_editor.sm .sm-5,
.rr_editor.md .sm-5,
.rr_editor.lg .sm-5 {
    width: calc(41.666667% - 10px);
}
.rr_editor.sm .sm-6,
.rr_editor.md .sm-6,
.rr_editor.lg .sm-6 {
    width: calc(50% - 10px);
}
.rr_editor.sm .sm-7,
.rr_editor.md .sm-7,
.rr_editor.lg .sm-7 {
    width: calc(58.333333% - 10px);
}
.rr_editor.sm .sm-8,
.rr_editor.md .sm-8,
.rr_editor.lg .sm-8 {
    width: calc(66.666667% - 10px);
}
.rr_editor.sm .sm-9,
.rr_editor.md .sm-9,
.rr_editor.lg .sm-9 {
    width: calc(75% - 10px);
}
.rr_editor.sm .sm-10,
.rr_editor.md .sm-10,
.rr_editor.lg .sm-10 {
    width: calc(83.333333% - 10px);
}
.rr_editor.sm .sm-11,
.rr_editor.md .sm-11,
.rr_editor.lg .sm-11 {
    width: calc(91.666667% - 10px);
}
.rr_editor.sm .sm-12,
.rr_editor.md .sm-12,
.rr_editor.lg .sm-12 {
    width: calc(100% - 10px);
}
.rr_editor.sm .sm-offset-1,
.rr_editor.md .sm-offset-1,
.rr_editor.lg .sm-offset-1 {
    margin-left: calc(8.333333% + 4px) !important;
}
.rr_editor.sm .sm-offset-2,
.rr_editor.md .sm-offset-2,
.rr_editor.lg .sm-offset-2 {
    margin-left: calc(16.666667% + 4px) !important;
}
.rr_editor.sm .sm-offset-3,
.rr_editor.md .sm-offset-3,
.rr_editor.lg .sm-offset-3 {
    margin-left: calc(25% + 4px) !important;
}
.rr_editor.sm .sm-offset-4,
.rr_editor.md .sm-offset-4,
.rr_editor.lg .sm-offset-4 {
    margin-left: calc(33.333333% + 4px) !important;
}
.rr_editor.sm .sm-offset-5,
.rr_editor.md .sm-offset-5,
.rr_editor.lg .sm-offset-5 {
    margin-left: calc(41.666667% + 4px) !important;
}
.rr_editor.sm .sm-offset-6,
.rr_editor.md .sm-offset-6,
.rr_editor.lg .sm-offset-6 {
    margin-left: calc(50% + 4px) !important;
}
.rr_editor.sm .sm-offset-7,
.rr_editor.md .sm-offset-7,
.rr_editor.lg .sm-offset-7 {
    margin-left: calc(58.333333% + 4px) !important;
}
.rr_editor.sm .sm-offset-8,
.rr_editor.md .sm-offset-8,
.rr_editor.lg .sm-offset-8 {
    margin-left: calc(66.666667% + 4px) !important;
}
.rr_editor.sm .sm-offset-9,
.rr_editor.md .sm-offset-9,
.rr_editor.lg .sm-offset-9 {
    margin-left: calc(75% + 4px) !important;
}
.rr_editor.sm .sm-offset-10,
.rr_editor.md .sm-offset-10,
.rr_editor.lg .sm-offset-10 {
    margin-left: calc(83.333333% + 4px) !important;
}
.rr_editor.sm .sm-offset-11,
.rr_editor.md .sm-offset-11,
.rr_editor.lg .sm-offset-11 {
    margin-left: calc(91.666667% + 4px) !important;
}
.rr_editor.sm .sm-offset-12,
.rr_editor.md .sm-offset-12,
.rr_editor.lg .sm-offset-12 {
    margin-left: calc(100% + 4px) !important;
}
/* END XS */

/* MD */
.rr_editor.md .md-1,
.rr_editor.lg .md-1 {
    width: calc(8.333333% - 10px);
}
.rr_editor.md .md-2,
.rr_editor.lg .md-2 {
    width: calc(16.666667% - 10px);
}
.rr_editor.md .md-3,
.rr_editor.lg .md-3 {
    width: calc(25% - 10px);
}
.rr_editor.md .md-4,
.rr_editor.lg .md-4 {
    width: calc(33.333333% - 10px);
}
.rr_editor.md .md-5,
.rr_editor.lg .md-5 {
    width: calc(41.666667% - 10px);
}
.rr_editor.md .md-6,
.rr_editor.lg .md-6 {
    width: calc(50% - 10px);
}
.rr_editor.md .md-7,
.rr_editor.lg .md-7 {
    width: calc(58.333333% - 10px);
}
.rr_editor.md .md-8,
.rr_editor.lg .md-8 {
    width: calc(66.666667% - 10px);
}
.rr_editor.md .md-9,
.rr_editor.lg .md-9 {
    width: calc(75% - 10px);
}
.rr_editor.md .md-10,
.rr_editor.lg .md-10 {
    width: calc(83.333333% - 10px);
}
.rr_editor.md .md-11,
.rr_editor.lg .md-11 {
    width: calc(91.666667% - 10px);
}
.rr_editor.md .md-12,
.rr_editor.lg .md-12 {
    width: calc(100% - 10px);
}
.rr_editor.md .md-offset-1,
.rr_editor.lg .md-offset-1 {
    margin-left: calc(8.333333% + 4px) !important;
}
.rr_editor.md .md-offset-2,
.rr_editor.lg .md-offset-2 {
    margin-left: calc(16.666667% + 4px) !important;
}
.rr_editor.md .md-offset-3,
.rr_editor.lg .md-offset-3 {
    margin-left: calc(25% + 4px) !important;
}
.rr_editor.md .md-offset-4,
.rr_editor.lg .md-offset-4 {
    margin-left: calc(33.333333% + 4px) !important;
}
.rr_editor.md .md-offset-5,
.rr_editor.lg .md-offset-5 {
    margin-left: calc(41.666667% + 4px) !important;
}
.rr_editor.md .md-offset-6,
.rr_editor.lg .md-offset-6 {
    margin-left: calc(50% + 4px) !important;
}
.rr_editor.md .md-offset-7,
.rr_editor.lg .md-offset-7 {
    margin-left: calc(58.333333% + 4px) !important;
}
.rr_editor.md .md-offset-8,
.rr_editor.lg .md-offset-8 {
    margin-left: calc(66.666667% + 4px) !important;
}
.rr_editor.md .md-offset-9,
.rr_editor.lg .md-offset-9 {
    margin-left: calc(75% + 4px) !important;
}
.rr_editor.md .md-offset-10,
.rr_editor.lg .md-offset-10 {
    margin-left: calc(83.333333% + 4px) !important;
}
.rr_editor.md .md-offset-11,
.rr_editor.lg .md-offset-11 {
    margin-left: calc(91.666667% + 4px) !important;
}
.rr_editor.md .md-offset-12,
.rr_editor.lg .md-offset-12 {
    margin-left: calc(100% + 4px) !important;
}
/* END MD */

/* LG */
.rr_editor.lg .lg-1 {
    width: calc(8.333333% - 10px);
}
.rr_editor.lg .lg-2 {
    width: calc(16.666667% - 10px);
}
.rr_editor.lg .lg-3 {
    width: calc(25% - 10px);
}
.rr_editor.lg .lg-4 {
    width: calc(33.333333% - 10px);
}
.rr_editor.lg .lg-5 {
    width: calc(41.666667% - 10px);
}
.rr_editor.lg .lg-6 {
    width: calc(50% - 10px);
}
.rr_editor.lg .lg-7 {
    width: calc(58.333333% - 10px);
}
.rr_editor.lg .lg-8 {
    width: calc(66.666667% - 10px);
}
.rr_editor.lg .lg-9 {
    width: calc(75% - 10px);
}
.rr_editor.lg .lg-10 {
    width: calc(83.333333% - 10px);
}
.rr_editor.lg .lg-11 {
    width: calc(91.666667% - 10px);
}
.rr_editor.lg .lg-12 {
    width: calc(100% - 10px);
}
.rr_editor.lg .lg-offset-1 {
    margin-left: calc(8.333333% + 4px) !important;
}
.rr_editor.lg .lg-offset-2 {
    margin-left: calc(16.666667% + 4px) !important;
}
.rr_editor.lg .lg-offset-3 {
    margin-left: calc(25% + 4px) !important;
}
.rr_editor.lg .lg-offset-4 {
    margin-left: calc(33.333333% + 4px) !important;
}
.rr_editor.lg .lg-offset-5 {
    margin-left: calc(41.666667% + 4px) !important;
}
.rr_editor.lg .lg-offset-6 {
    margin-left: calc(50% + 4px) !important;
}
.rr_editor.lg .lg-offset-7 {
    margin-left: calc(58.333333% + 4px) !important;
}
.rr_editor.lg .lg-offset-8 {
    margin-left: calc(66.666667% + 4px) !important;
}
.rr_editor.lg .lg-offset-9 {
    margin-left: calc(75% + 4px) !important;
}
.rr_editor.lg .lg-offset-10 {
    margin-left: calc(83.333333% + 4px) !important;
}
.rr_editor.lg .lg-offset-11 {
    margin-left: calc(91.666667% + 4px) !important;
}
.rr_editor.lg .lg-offset-12 {
    margin-left: calc(100% + 4px) !important;
}
/* END LG */