<div class="table-block-preview">
    <table>
        <tr>
            <td>Table Block</td>
            <td>Table Block</td>
        </tr>
        <tr>
            <td>Table Block</td>
            <td>Table Block</td>
        </tr>
        <tr>
            <td>Table Block</td>
            <td>Table Block</td>
        </tr>
    </table>
</div>

<style type="text/css">
    table {
      border-collapse: collapse;
      width: 100%;
    }

    th, td {
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {background-color: #f2f2f2;}

    tr {
        border: 1px solid grey;
    }
</style>