.grid-chooser {
    text-align: center;
    padding-left: 150px;
}

.grid-chooser .column {
    height: 50px;
    display: inline-block;
    width: 50px;
    margin-right: -1px;
    border: 1px solid #4ab1b1;
    cursor: pointer;
    position: relative;
}

.grid-chooser .column.selected {
    background-color: #4ab1b1;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

.grid-chooser .column.offset {
    background-color: #efefef;
    border-left: 1px solid #4ab1b1;
}

.grid-chooser .column.offset + .selected {
    border-left: 1px solid #4ab1b1;
}

.size-chooser {
    float: left;
    position: absolute;
}

.device-size-chooser {
    position: absolute;
    right: 0;
    background-color: #f37e77;
    z-index: 1;
    padding: 5px;
}

.device-size-chooser .size,
.size-chooser .size {
    font-family: FontAwesome;
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 18px;
    text-align: center;
    font-weight: normal;
    vertical-align: middle;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    outline: none;
    box-sizing: border-box;
    -webkit-font-smoothing: auto;
    margin-right: 1px;
    background-color: #fff;
    border: 1px solid #43b1b0;
    color: #43b1b0;
    cursor: pointer;
}

.device-size-chooser .size {
    border: 0;
    margin: 0;
    color: #200200;
    border: 0;
}

.size-chooser .size.selected {
    background-color: #43b1b0;
    border: 1px solid #43b1b0;
    color: #fff;
}

.device-size-chooser .size.selected {
    background-color: #fcf2f2;
    color: #200200;
    border: 0;
}

.device-size-chooser .size.xs:before,
.size-chooser .size.xs:before {
    content: "\f10b";
}

.device-size-chooser .size.sm:before,
.size-chooser .size.sm:before {
    content: "\f10a";
}

.device-size-chooser .size.md:before,
.size-chooser .size.md:before {
    content: "\f109";
}

.device-size-chooser .size.lg:before,
.size-chooser .size.lg:before {
    content: "\f108";
}